@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Space+Mono");

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	font-family: "Space Mono", monospace;
}

body {
	--main: hsl(142, 76.2%, 36.3%);
	--light-main: hsl(141, 78.9%, 85.1%);
	--bg: hsl(0, 100%, 100%);
	--text: #000;
	--lightgray: hsl(220, 13%, 91%);
	background: var(--bg);
	color: var(--text);
	transition: all ease 0.5s;
}

::selection {
	background: var(--main);
	color: var(--text);
}

body.dark {
	--text: hsl(0, 100%, 100%);
	--bg: #000;
}

.grid {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	padding: 20px;
}

.grid .subgrid {
	grid-column-start: 1;
	grid-column-end: 7;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 24px;
}

header h1 {
	font-size: 1.6em;
}

header .toggle {
	width: 60px;
	height: 30px;
	background: var(--lightgray);
	border-radius: 16px;
	padding: 3px 6px;
}

header .toggle .ball {
	background: var(--bg);
	width: 50%;
	height: 100%;
	border-radius: 100%;
}

header .toggle .ball.dark {
	margin-inline-start: auto;
}

main {
	margin-top: 30px;
}

.search {
	display: flex;
	width: 100%;
	background: var(--lightgray);
	border: 2px solid var(--lightgray);
	padding: 12px 16px;
	border-radius: 6px;
	transition: all ease 0.4s;
}

.search:hover,
.search:focus {
	border-color: var(--main);
}

.search input {
	font-size: 1.2em;
	background: transparent;
	width: 100%;
}

.search button {
	background: transparent;
	color: var(--main);
	font-size: 1.4em;
	margin-left: 6px;
}

.search-result {
	display: none;
	opacity: 0;
	transition: all ease 0.5s;
}

.search-result.show {
	display: block;
	opacity: 1;
}

.search-head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 24px;
	padding-block: 30px;
}

.search-head div {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	gap: 10px;
}

.search-head div strong {
	display: block;
	font-size: 1.3em;
}

.search-head div p {
	font-size: 1em;
}

.search-head button {
	display: block;
	background: var(--light-main);
	color: var(--main);
	width: 60px;
	height: 60px;
	font-size: 1.5em;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-radius: 50%;
}

.search-meanings ul {
	padding-left: 20px;
}

.search-meanings ul li {
	list-style: disc outside;
	font-size: 1.1em;
}

.search-meanings ul li::marker {
	color: var(--main);
	background-color: var(--main);
	font-size: 1.4em;
}

.search-subhead {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	gap: 8px;
	margin-top: 16px;
}

.search-subhead strong,
.search-subhead em {
	display: block;
	font-size: 1.1em;
	text-transform: capitalize;
}

.search-subhead strong {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: row;
	width: 100%;
	gap: 20px;
}

.search-subhead strong hr {
	width: 100%;
	height: 4px;
	background: var(--lightgray);
}

.synonyms-text {
	display: block;
	text-decoration: underline;
	font-size: 1.1em;
	margin-top: 12px;
}

.synonyms {
	color: var(--main);
	font-size: 1em;
	font-weight: bold;
}

.source {
	padding: 20px 0;
}

.source hr {
	display: block;
	width: 100%;
	height: 4px;
	background: var(--lightgray);
}

.source strong {
	display: block;
	font-size: 1.1em;
	margin-top: 30px;
}

.source a {
	display: block;
	color: var(--main);
	word-wrap: wrap;
	word-break: break-all;
	overflow-x: hidden;
}

.source a:hover,
.source a:focus {
	text-decoration: underline;
}

.not-found {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
	font-weight: bolder;
	font-size: 1.4em;
}

.loader {
	transform: rotateZ(45deg);
	perspective: 1000px;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	color: var(--text);
	display: none;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
	margin-inline: auto;
}

.loader:before,
.loader:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	border-radius: 50%;
	transform: rotateX(70deg);
	animation: 1s spin linear infinite;
}

.loader:after {
	color: var(--main);
	transform: rotateY(70deg);
	animation-delay: 0.4s;
}

@keyframes rotate {
	0% {
		transform: translate(-50%, -50%)
			rotateZ(0deg);
	}
	100% {
		transform: translate(-50%, -50%)
			rotateZ(360deg);
	}
}

@keyframes rotateccw {
	0% {
		transform: translate(-50%, -50%)
			rotate(0deg);
	}
	100% {
		transform: translate(-50%, -50%)
			rotate(-360deg);
	}
}

@keyframes spin {
	0%,
	100% {
		box-shadow: 0.2em 0px 0 0px
			currentcolor;
	}
	12% {
		box-shadow: 0.2em 0.2em 0 0
			currentcolor;
	}
	25% {
		box-shadow: 0 0.2em 0 0px
			currentcolor;
	}
	37% {
		box-shadow: -0.2em 0.2em 0 0
			currentcolor;
	}
	50% {
		box-shadow: -0.2em 0 0 0
			currentcolor;
	}
	62% {
		box-shadow: -0.2em -0.2em 0 0 currentcolor;
	}
	75% {
		box-shadow: 0px -0.2em 0 0 currentcolor;
	}
	87% {
		box-shadow: 0.2em -0.2em 0 0 currentcolor;
	}
}

@media screen and (min-width: 768px) {
	.grid .subgrid {
		grid-column-start: 2;
		grid-column-end: 6;
	}
}
